{% load static %}

<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'admin_home' %}">
            <span data-feather="home"></span>
            Dashboard <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          {% url 'add_student' as add_student %}
          <a class="nav-link {% if request.path == add_student %} active {% endif %}" href="{% url 'add_student' %}">
            <span data-feather="layers"></span>
            Add Students
          </a>
        </li>
        <li class="nav-item">
          {% url 'manage_student' as manage_student %}
          {% url 'edit_student' student_id=id as edit_student %}
          <a class="nav-link {% if request.path == manage_student %} active {% endif %} {% if request.path == edit_student %} active {% endif %}"" href="{% url 'manage_student' %}">
            <span data-feather="layers"></span>
            View Students
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'manage_session' %}" class="nav-link ">
            <span data-feather="layers"></span>
              Manage Session Year
          </a>
        </li>
        <li class="nav-item">
          {% url 'student_feedback_message' as student_feedback_message %}
         <a href="{% url 'student_feedback_message' %}" class="nav-link {% if request.path == student_feedback_message %} active {% endif %}">
          <span data-feather="layers"></span>
          Student Feedback
         </a>
       </li>
       <li class="nav-item">
        {% url 'admin_send_notification_student' as admin_send_notification_student %}
         <a href="{% url 'admin_send_notification_student' %}" class="nav-link {% if request.path == admin_send_notification_student %} active {% endif %}">
          <span data-feather="layers"></span>
         
            Send Student Notification
          
        </a>
      </li>
      </ul>

      </ul>
    </div>
  </nav>
